cachetools==4.1.1
elasticsearch==7.0.5
fhir2dataset==0.1.2
fhirstore @ git+https://github.com/arkhn/pyfhirstore@0.5.0#egg=fhirstore
flask-cors==3.0.8
flask==1.1.1
pymongo==3.9.0
pysin==1.5.2
uWSGI==2.0.18
uwsgidecorators==1.1.0
pandas==1.0.3
